[Unit]
Description=Aplikasi Sarpras Laravel Scheduler
After=network.target redis-server.service
Wants=network-online.target

[Service]
Type=simple
User=www-data
Group=www-data
WorkingDirectory=/var/www/sarpras
ExecStart=/usr/bin/php artisan schedule:work
Restart=always
RestartSec=5
KillSignal=SIGTERM
TimeoutStopSec=60

[Install]
WantedBy=multi-user.target
